@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject SignInManager<IdentityUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="Logout" id="logoutForm"
          method="post" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item"><a class="nav-link text-dark bi bi-box-arrow-right" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    </form>
  
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item"><a class="nav-link text-dark bi bi-person-plus" id="registerLink" asp-controller="Account" asp-action="Register"> Register </a></li>
        <li class="nav-item"><a class="bi bi-box-arrow-in-left nav-link text-dark" id="loginLink" asp-controller="Account" asp-action="Login"> Log in </a></li>
    </ul>
}