@model DrinksListViewModel

@{
    ViewData["Title"] = "All Drinks";
}
<div class="row marginTop">
    @foreach (var drink in Model.Drinks)
    {
        @Html.Partial("DrinksSummary", drink)
    }
</div>